/*Estilo para la maquetacion de todos los elementos*/
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #1a1a1a;
	font-family: 'Roboto', sans-serif;
}

/*Eliminamos el estilo predeterminado de los enlaces*/
a{
	text-decoration: none;
}

/*Quitamos los puntos predeterminados de la lista de elementos*/
ul{
	list-style: none;
}

/*Agrupamos todos los dentro de un mismo conjunto y le aplicamos los diferentes estilos para determinar su posición y su tamaño*/
.wrap{
	width: 90%;
	max-width: 1170px;
	margin: 30px auto;
}
/* Tabla de precio
Con las tres columnas de precios dentro del mismo div, aplicamos los siguientes estilos, para que se muestren en fila y con la misma separación entre ellas
*/

.plan-precios{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.tabla-precios{
	
	width: 30%;
	transition: transform .5s ease;

	-webkit-perspective: 2000px;
	perspective: 2000px;
}
.bienvenida{

	color: white;
	padding: 5px 0px;
	font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.tabla-precios:hover{
	transform: scale(1.07);
}

/*Estilos para el contenido de cada tabla*/

.tabla-precios-cont{
	background: #fff;
	text-align: center;
	position: relative;
	height: 600px;

	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

	transition: .3s ease;
}




/*Color del encabezado de cada columna*/
.tabla-precios-head{
	color: #D94F04;
	padding: 20px 0px;
	font-family: 'Montserrat', sans-serif;
}
.starter-icon{
	width: 100px;
	height: 90px;
}
.pro-icon{
	width: 100px;
	height: 100px;
}
.teams-icon{
	width: 90px;
	height: 60px;
}
.tabla-precios-head h2{
	font-size: 14px;
	letter-spacing: 2px;	
	font-weight: bold;
}

.tabla-precios-head h3{
	font-size: 50px;
	font-weight: 400;
	display: inline;
}



.tabla-precios-head h3 sub{
	font-size: 13px;
}


.tabla-precios-list li{
	background: #F1F3F5;
	padding: 10px 0;
	color: #007172

}

.tabla-precios-list li:nth-child(2n){
	background: #fff;
}

.tabla-precios-button{
	display: block;
	width: 100%;
	padding: 20px 0;
	background: #007172;
	color: #fff;
	margin-top: 23px;
	font-family: 'Montserrat', sans-serif;
}



/* RESPONSIVE ===============================  */
@media screen and (max-width: 750px){
	.tabla-precios{
		width: 72%;
		margin-bottom: 20px;
	}

	.plan-precios{
		justify-content: center;
	}

	.tabla-precios:hover{
		transform: scale(1.0) ;
	}
}

@media screen and (max-width: 500px){
	.tabla-precios{
		width: 90%;
	}
}